@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap" rel="stylesheet');

body{
  background-color: rgb(146, 162, 167);
}

#logo{
  width: 100%;
  text-align: center;
  
}

#boomEffect{
  display: none;
  position: absolute;
  width: 200px;
  height: 150px;
  background-image: url(./images/Boom4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation: BoomAnim 0.9s ease-in;
  
}



@keyframes BoomAnim{
  0%{opacity: 0.2; scale: 0;}
  70%{opacity: 1; scale: 0.9; transform: translateY(-80px);}
  100%{opacity: 0; scale: 1; transform: translateY(-100px);}
  
}

#form_holder{
  color: rgb(200, 198, 34);
  text-align: center;
  border: 2px solid rgb(43, 43, 43);
  border-radius: 10px;
  background-image: url(./images/BackGround2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'balthazar' ;
  font-size:large;

}

#form_holder button{
  margin: 10px;

}

#form_holder input[type='radio']{
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #937e83;
  accent-color: #ff693c;
  
}

#form_holder input[type='radio']:checked{
  width: 19px;
  height: 19px;
  background: radial-gradient(#ffa600 , #ff9335, #ff5e19,#a42600b6,rgb(0, 0, 0) );
  border: 2px solid #ff7300aa ;
}

#board_holder table{
  background-color: rgb(52, 52, 52);
  border: 2px solid rgb(0, 0, 0);
    font-family: 'balthazar' ;
  font-size:large;
}

#table_holder table{
  color: rgb(255, 251, 0);
  border: 7px solid rgb(43, 43, 43);
  background-image: url(./images/BackGround.jpg);
  background-size: 100% 100%;
  font-weight: 900;
  font-family:	Copperplate;
  width: 100%;
}

.form-input label{
  display: block;
  margin: 10px auto ;
  font-weight: 900;
  font-size: 20px;
  font-style: normal;

}
.form-input > input{
  font-size: 10x;
  margin: 6px auto ;
  font-weight: 900;
  background: linear-gradient(#cee83b, #ffdf11, #ff7715, #e7e1e0);

}
#input {
  color: #2c2626;
}


table,
tr,
td,
th {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
}

table {
  width: 90%;

  margin: 0 auto;
}

#container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
}

#board td {
  height: 20px;
  width: 20px;
  padding: 10px;
} 

#board td:hover{
  cursor: pointer;
}



#board td.sea {
  background-color: aqua;
  background-image: url(./images/Wave3.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
}

#board td.hit {
  background-color: orange;
}
#board td.destroy {
  /* background-color: rgb(255, 0, 0); */
  background: linear-gradient(#ff2b0f, #ffdf11, #ff7715, #ff2b0f);
  background-size: 300% 400%;
  animation: Animation 1s ease-in infinite;
}


#board_holder
{
  border: 10px solid black; 
  padding: 4%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #555252;
  

}
.button {
  all: unset;
  display:flex;
  margin: 100px;
  align-items: center;
  position: relative;
  padding: 0em 3.3em;
  border: rgb(16, 15, 15) solid 0.15em;
  border-radius: 0.25em;
  color: rgb(212, 108, 29);
  font-size: 1.5em;
  font-weight: 900;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;

 
}

.button p {
  z-index: 1;
}

.button:hover {
  color: #c92626;

}

.button:active {
  border-color: rgb(232, 232, 55);
}

.button::after, .button::before {
  content: "";
  position: absolute;
  width: 10em;
  aspect-ratio: 1;
  background: rgb(233, 228, 67);
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;

}

.button::before {
  left: 0;
  transform: translateX(-8em);
}

.button::after {
  right: 0;
  transform: translateX(8em);
}

.button:hover:before {
  transform: translateX(-1em);
}

.button:hover:after {
  transform: translateX(1em);
}

.button:active:before,
.button:active:after {
  background: rgb(223, 183, 38);
}

@keyframes Animation { 
  0%{background-position:100% 10%}
  50%{background-position:100% -5%}
  100%{background-position:100% 10%}
}

#amountTable {
  width: 10%;
  border-collapse: collapse;
  /* border: 2px solid black;  */

  
 
}

#amountTable th, #amountTable td {
  border: 1px solid #2e2c2c;
  padding: 8px;
  text-align: left;
  font-size: 25px;
  
}

#amountTable th {
  background: linear-gradient(#e8e04d, #ffdf11, #ff7715, #ff2b0f);
}

/* #amountTable tr:nth-child(even) {
} */
 
#amountTable tr:hover {
  background-color: #2c2626;
}

#amountTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  color: rgb(52, 48, 48);
}